.txt-blue {
  color: #4200ff;
}

.bg-blue {
  background-color: #4200ff;
}

.txt-black {
  color: #404040;
}

.txt-grey {
  color: #aaa;
}
.txt-greyer {
  color: #8f8f8f;
}

.bg-grey {
  background-color: #d7d7d7;
}

/* DEDEDE */
